alembic==1.8.1
altgraph==0.17.2
async-timeout==4.0.2
bcrypt==3.2.2
cachelib==0.9.0
cffi==1.15.0
click==8.1.3
clock==0.1
colorama==0.4.4
config==0.5.1
cryptography==37.0.2
cx-Oracle==8.3.0
decorator==5.1.1
Deprecated==1.2.13
distlib==0.3.5
dnspython==2.2.1
dominate==2.7.0
email-validator==1.2.1
filelock==3.7.1
Flask==2.1.2
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.1
MarkupSafe==2.1.1
modules==1.0.0
mysql-connector-python==8.0.29
numpy==1.23.0
packaging==21.3
pandas==1.4.3
passlib==1.7.4
pefile==2022.5.30
platformdirs==2.5.2
protobuf==4.21.2
pycparser==2.21
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
pymongo==4.2.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
redis==4.3.4
six==1.16.0
SQLAlchemy==1.4.37
sqlalchemy-migrate==0.7.2
Tempita==0.5.2
touch==2020.12.3
tzdata==2022.1
tzlocal==4.2
values==2020.12.3
virtualenv==20.16.2
visitor==0.1.3
Werkzeug==2.1.2
wrapt==1.14.1
WTForms==2.3.3
zipp==3.8.0
